@model Workrbot.Classes.EventDTO

@{
    ViewBag.Title = "Delete";
}


<h3>Delete</h3>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.Label("Tag User")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TagUser)
        </dd>

        <dt>
            @Html.Label("Moderator Reply")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.Label("Trigger")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTrigger)
        </dd>

        <dt>
            @Html.Label("Secondary Trigger")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondaryTrigger)
        </dd>

        <dt>
            @Html.Label("Secondary Trigger Value")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondaryTriggerActionValue)
        </dd>

        <dt>
            @Html.Label("Work Item Action Field")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkItemActionField)
        </dd>

        <dt>
            @Html.Label("Work Item Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkItemType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
