@model IEnumerable<Workrbot.Classes.EventDTO>

@{
    ViewBag.Title = "Events";
}


<h3>Events</h3>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table class="table" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th>
            @Html.Label("Moderator Reply")
        </th>
        <th>
            @Html.Label("Trigger")
        </th>
        <th>
            @Html.Label("Secondary Trigger")
        </th>
        <th>
            @Html.Label("Secondary Trigger Value")
        </th>
        <th>
            @Html.Label("Work Item Action Field")
        </th>
        <th>
            @Html.Label("Work Item Type")
        </th>
        <th>
            @Html.Label("Tag User?")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
        <td style="max-width:350px;">
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventTrigger)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondaryTrigger)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondaryTriggerActionValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkItemActionField)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkItemType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TagUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
        </td>
    </tr>
}

</table>
